version: "3.8"

services:
  database:
    container_name: database
    image: postgres
    restart: "unless-stopped"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - '5433:5432'

networks:
  default:
    name: personal-financial-tracking-network



# docker network create personal-financial-tracking-network

